:root{
    --backgroundColor: #f1f1f1;
    --textColor: #f1f1f1;
    --headerColor: #f1f1f1;
    --headerBgColor: #00b4d8;
    --navColor: #0076b6;
    --navColorHover: #005d8f;
    --cardColor: #03045e;
    --textRed: #a4133c;

    --mainFont: "Roboto Flex", sans-serif;

    --maxWidth: 1024px;
}